.main{
  background-color: #d3d3d3;
  width: 1300px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.product-container {
  border: 3px solid black;
  max-width: 295px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.product-container img {
  width: 100%;
  max-height: 50%
}

.product-container > * {
  flex: 1 1 100%;
}

.button {
  margin: 10px;
  border-radius: 3px;
}